<div class="content">

<h1>ABOUT US</h1>
<p align="justify">
<strong>FALCON ACCESSORIES</strong> is a proceeding  accessories company in Bangladesh . We are the manufacturer, exporter, importer and supplier of all kinds of Garments Accessories. We started our business on 2000. Now we are matured though 10 years work experience. We are very lucky to have skilled team to fulfill our valued customer's demand. We treat our customer as our Principal. We are always sincere in quality and quick response timely delivery. Our manufacturing and supplying item are described at company products. We are always sincere of sophisticated technology to produce our goods and want to play a vital role to our customer's supply. Our service concept is Provide topping service to give you a Complete Branding Solution. "High quality, Reasonable price, Swift service" are our permanent	commitment.
</p>

</div>

<div class="content">

<h1>OUR VISION</h1>
<p align="justify">

<strong>FALCON ACCESSORIES</strong>  aim to have a wide market network, catching in developed and developing markets, adding strengthen value to run business with new excellence, adapting the innovation in the industry, staying a head in dealing with change, creating new values, contributing broadly to society and to grow as the leading marketing company. Ensuring the highest standard Quality for the product, by providing excellent service is our mission.

</p>

</div>



<div class="content">

<h1>WORKFACE</h1>
<p align="justify">

<strong>FALCON ACCESSORIES</strong> is bearing near about 30-35 employees, who are regularly working in this company. They work in a safe work place. They are skilled and matured in their particular job, which gained by experience. We always tried to build career of our employees. Our total workforce is dedicated to produce the product of our subscriber and fulfill their need. Employees of our company always sincere to maintain quality. 

</p>

</div>

<div class="content">

<h1>QUALITY</h1>
<p align="justify">

<strong>FALCON ACCESSORIES</strong> tend on quality to fulfill their competitor. We never compromise in regarding of quality and give our full effort improving our product quality. A skilled supervisor team is working to inquire the quality while productions are running. If they find any problem they inform quickly our problem solving team. Then they solve the problem through proper step. 

</p>

</div>


<div class="content">

<h1>QUICK RESPONSE</h1>
<p align="justify">

<strong>FALCON ACCESSORIES</strong> believe that quick response is vital for maintaining long-term relationship with customer. Our marketing department is dedicated to response quickly of our customer. If any customer want to know about any products of <strong>FALCON ACCESSORIES</strong>, we response quickly as early as possible. 

</p>

</div>


<div class="content">

<h1>TIMELY DELIVERY</h1>
<p align="justify">

<strong>FALCON ACCESSORIES</strong> are very conscious timely delivery. Our total workforce is giving their effort regarding this matter. Our skilled & efficient delivery team is dedicated to supply the products on time to our customers. 

</p>

</div>


<div class="content">

<h1>OUR PRODUCTS</h1>

<table>
<th>01. Paper Products:</th>
<th>02. Label Products:</th>
<th>03. Button Products:</th>
<th>04. Other Products:</th>
<tr>
<td>(a) Photo Card</td>
<td>(a) Woven Main Label</td>
<td>(a) Chalk</td>
<td>(a) Plastic</td>
</tr>
<tr>
<td>(b) Price Tag</td>
<td>(b) Woven Size Label</td>
<td>(b) Clear</td>
<td>(b) Plastic Clip</td>
</tr>
<tr>
<td>(c) Hang Tag</td>
<td>(c) Printedd Care Label</td>
<td>(c) Logo</td>
<td>(c) Plastic Patch</td>
</tr>

<tr>
<td>(d) Size Sticker</td>
<td></td>
<td>(d) Pearl</td>
<td>(d) Elastic (All Kinds)</td>
</tr>

<tr>
<td>(e) Barcode Sticker</td>
<td></td>
<td>(e) Plastic</td>
<td>(e) Stopper (All Kinds)</td>
</tr>

<tr>
<td>(f) Photo Sticker</td>
<td></td>
<td></td>
<td>(f) Collar Insert</td>
</tr>
<tr>
<td></td>
<td></td>
<td></td>
<td>(g) Twill Tape</td>
</tr>

</table>

</div>