

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent
}
body {
	line-height:1
}
ol, ul {
	list-style:none
}
blockquote, q {
	quotes:none
}
blockquote:before, blockquote:after, q:before, q:after {
	content:'';
	content:none
}
:focus {
	outline:0
}
ins {
	text-decoration:none
}
del {
	text-decoration:line-through
}
table {
	border-collapse:collapse;
	border-spacing:0
}
.clear {
	clear:both;
	display:block;
	overflow:hidden;
	visibility:hidden;
	width:0;
	height:0
}
.clearfix:after {
	clear:both;
	content:' ';
	display:block;
	font-size:0;
	line-height:0;
	visibility:hidden;
	width:0;
	height:0
}
.clearfix {
	display:inline-block
}
* html .clearfix {
	height:1%
}
.clearfix {
	display:block
}

 @font-face {
 font-family: 'Puritan20Italic';
 src: url('style/type/puritan/puritan_italic-webfont.eot?') format('eot'),  url('style/type/puritan/puritan_italic-webfont.woff') format('woff'),  url('style/type/puritan/puritan_italic-webfont.ttf') format('truetype'),  url('style/type/puritan/puritan_italic-webfont.svg#webfontZMWmRIPG') format('svg');
 font-weight: normal;
 font-style: normal;
}
 @font-face {
 font-family: 'Puritan20Normal';
 src: url('style/type/puritan/puritan_regular-webfont.eot?') format('eot'),  url('style/type/puritan/puritan_regular-webfont.woff') format('woff'),  url('style/type/puritan/puritan_regular-webfont.ttf') format('truetype'),  url('style/type/puritan/puritan_regular-webfont.svg#webfontJ25dHiGv') format('svg');
 font-weight: normal;
 font-style: normal;
}


body {
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Trebuchet MS", Helvetica, Arial, sans-serif;
	background-color: #f0f0f0;
	color: #565656;
	font-size: 13px;
	overflow-y: scroll;
	overflow-x: hidden;
}

html, body {
	height: 100%;
}

#container {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -145px;
}

#footer-wrapper, .push {
	height: 145px;
}

p {
	line-height: 20px;
	margin-bottom: 20px;
}

a {
	text-decoration: none;
	color: #1f1f1f;
}

a:hover {
	text-decoration: none;
	color: #5d8ba6;
}

a.more {
	display: inline-block;
	color: #5d8ba6;
}

a.more:hover {
	text-decoration: underline;
}

pre {
	margin-bottom: 20px;
	font-size: 11px;
	background-color: #e8e8e8;
	padding: 0 10px;
}

.highlight {
	color: #5d8ba6;
	border-bottom: 1px dotted #5d8ba6;
}

.highlight2 {
	background-color: #e1e1e1;
	padding: 0px 5px;
	color: #222222;
}

.highlight3 {
	color: #5d8ba6;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Puritan20Normal';
	font-weight: normal;
	color: #1f1f1f;
	margin-bottom: 10px;
}

h1 {
	font-size: 28px;
}

h2 {
	font-size: 25px;
}

h3 {
	font-size: 22px;
	line-height: 26px;
}

h4 {
	font-size: 17px;
}

h5 {
	font-size: 15px;
}

h6 {
	font-size: 14px;
}

.divider, .divider2, .divider3 {
	background: transparent url(../images/line.png) repeat-x bottom center;
	height: 2px;
	display: block;
	margin: 30px 0;
}

.divider2 {
	margin-top:10px;
}

.divider3 {
	margin-bottom:10px;
}

img.left {
	top: 0px;
	float:left;
	display: block;
	margin:0;
	padding:0;
	margin-right:20px;
}

img.right {
	top: 0px;
	float:right;
	display: block;
	margin:0;
	padding:0;
	margin-left:20px;
}

em {
	font-family: Georgia, Times, "Times New Roman", serif;
	font-size: 11px;
	color: #565656;
}

.button, .button:link, .button:visited {
	display: block;
	position: relative;
	padding: 0 0 0 15px;
	height: 32px;
	line-height: 30px;
	text-align: center;
	background-position: 0 0;
	background-repeat: no-repeat;
	font-size: 14px;
	font-weight: normal;
	color: #FFF;
	cursor: pointer;
	font-family: 'Puritan20Normal';
}
.button span {
	display: block;
	position: absolute;
	top: 0px;
	right: -15px;
	width: 15px;
	height: 32px;
	background-position: right top;
}
.button.light-blue, .button.light-blue span {
	background-image: url(../images/button-light-blue.png);
	float: left;
}
.button.light-purple, .button.light-purple span {
	background-image: url(../images/button-light-purple.png);
	float: left;
}
.button.light-pink, .button.light-pink span {
	background-image: url(../images/button-light-pink.png);
	float: left;
}
.button.light-brown, .button.light-brown span {
	background-image: url(../images/button-light-brown.png);
	float: left;
}
.button.light-teal, .button.light-teal span {
	background-image: url(../images/button-light-teal.png);
	float: left;
}
.button.lime, .button.lime span {
	background-image: url(../images/button-lime.png);
	float: left;
}
.button.red, .button.red span {
	background-image: url(../images/button-red.png);
	float: left;
}
.button.orange, .button.orange span {
	background-image: url(../images/button-orange.png);
	float: left;
}
.button.yellow, .button.yellow span {
	background-image: url(../images/button-yellow.png);
	float: left;
}
.button.green, .button.green span {
	background-image: url(../images/button-green.png);
	float: left;
}
.button.teal, .button.teal span {
	background-image: url(../images/button-teal.png);
	float: left;
}
.button.turqoise, .button.turqoise span {
	background-image: url(../images/button-turqoise.png);
	float: left;
}
.button.blue, .button.blue span {
	background-image: url(../images/button-blue.png);
	float: left;
}
.button.purple, .button.purple span {
	background-image: url(../images/button-purple.png);
	float: left;
}
.button.pink, .button.pink span {
	background-image: url(../images/button-pink.png);
	float: left;
}
.button.gray, .button.gray span {
	background-image: url(../images/button-gray.png);
	float: left;
}

.dropcap {
	display:block;
	float:left;
	font-size:45px;
	padding:0;
	margin: 0;
	margin:10px 8px 3px 0;
	font-family: 'Puritan20Normal';
}

table {
	width: 100%;
	font-size:13px;
	border-collapse: collapse;
	border-bottom:1px solid #c1c1c1;
	border-top:1px solid #c1c1c1;
	margin-bottom: 20px;
}

table td {
	padding: 8px 10px;
	border-right:1px solid #c1c1c1;
}

table td:hover {
	background-color: #efefef;
}

table th {
	padding: 10px;
	font-size:18px;
	color:#1f1f1f;
	text-align: left;
	border-right:1px solid #c1c1c1;
	font-family: 'Puritan20Normal';
	font-weight: normal;
}

table td.center {
	text-align: center;
}

table td.last {
	background: none;
}

table th.center {
	text-align: center;
}

table th.last {
	background: none;
}

table tr {
	border-left:1px solid #c1c1c1;
	border-top:1px solid #c1c1c1;
}

table tr.caption {
	border-left:1px solid #c1c1c1;
}

table.price td {
	text-align: center;
}

table.price td.left {
	text-align: left;
}

table.price td.right {
	text-align: right;
}

table.price td h2 {
	margin:0;
	font-size: 22px;
}
table.price td h2 span {
	display: block;
	font-size: 18px;
	color: #747474;
}

table.price td h2 sup {
	padding-left: 5px;
	line-height: 20px;
}

.quote-right, .quote-left {
	color:#1f1f1f;
	border-left:1px solid #e3e3e3;
	float:right;
	letter-spacing:0px;
	line-height:23px;
	margin-left:20px;
	margin-top:10px;
	margin-bottom:5px;
	padding:0px;
	padding-left:10px;
	padding-right:10px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-style: italic;
	width:25%;
}

.quote-left {
	border: none;
	border-right:1px solid #e3e3e3;
	float:left;
	padding:0;
	padding-right:5px;
	margin-bottom:0;
	margin-left: 0;
	margin-right:20px;
}


#wrapper ul {
	padding: 0 0 20px 0;
	display: block;
	overflow: hidden;
}

#wrapper ul li {
	line-height: 20px;
	list-style: none;
	display: block;
	background: transparent url(../images/bullet.jpg) no-repeat left 8px;
	padding-left: 20px;
}

#wrapper ul.check-list {
	padding: 0 0 20px 0;
	display: block;
	overflow: hidden;
}

#wrapper ul.check-list li {
	line-height: 20px;
	list-style: none;
	display: block;
	background: transparent url(../images/check.png) no-repeat left 0px;
	padding-left: 30px;
}

#wrapper {
	width: 960px;
	margin: 0 auto;
	padding-top: 0;
	line-height: 20px;
}

#header-wrapper {
	min-width: 960px;
	height: 88px;
	background: transparent url(../images/header-bg.png) repeat-x center bottom;
}

#header {
	width: 960px;
	height: 88px;
	margin: 0 auto;
	position: relative;
	z-index: 999;
}

#page-top {
	padding-bottom: 70px;
}

#logo {
	float: left;
	position: absolute;
	bottom: 15px;
	left: 0;
}

#menu-wrapper {
	float: right;
	position: absolute;
	bottom: 23px;
	right: 0;
}
#footer-wrapper {
	height: 45px;
	padding-top:100px;
}

#footer {
	min-width: 960px;
	height: 45px;
	background: transparent url(../images/footer-bg.png) repeat-x top center;
}

#footer-content {
	width: 960px;
	height: 45px;
	margin: 0 auto;
	position: relative;
}

#copyright {
	float: left;
	position: absolute;
	top: 15px;
	left: 0;
}

#copyright p {
	font-size: 11px;
	margin: 0;
}

#socials {
	float: right;
	position: absolute;
	top: 16px;
	right: 0;
}

#socials ul li {
	float: left;
	margin-left: 10px;
	background: none;
}


.ddsmoothmenu {
	font-family: 'Puritan20Normal';
	font-size: 17px;
	z-index: 1000;
	position: relative;
	text-shadow: 0px 1px 0px #efefef;
}

.ddsmoothmenu ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}


.ddsmoothmenu ul li {
	position: relative;
	display: inline;
	float: left;
	clear: none;
	margin-left: 20px;
	padding-left: 10px;
}


.ddsmoothmenu ul li a {
	display: block;
	text-decoration: none;
	position: relative;
	text-shadow: 0px 1px 0px #efefef;
}

* html .ddsmoothmenu ul li a {
	display: inline-block;
}

.ddsmoothmenu ul li a, .ddsmoothmenu ul li a:visited {
	color: #565656;
}

.ddsmoothmenu ul li a.selected {
	color: #5d8ba6;
}

.ddsmoothmenu ul li a:hover {
	color: #5d8ba6;
}


.ddsmoothmenu ul li ul {
	background: none;
	font-family: 'Puritan20Normal';
	position: absolute;
	padding: 22px 0 0 0;
	left: 0;
	display: block;
	visibility: hidden;
	border-bottom: 1px solid #cdcdcd;
}

.ddsmoothmenu ul li ul li {
	margin-left:0;
	padding-left: 0;
	display: list-item;
	float: none;
	background-color: #e1e1e1;
	border-right: 1px solid #cdcdcd;
	border-left: 1px solid #cdcdcd;
}


.ddsmoothmenu ul li ul li ul {
	top: 0;
	padding-top: 0;
	border-bottom: 1px solid #cdcdcd;
	border-top: 1px solid #cdcdcd;
}


.ddsmoothmenu ul li ul li a {
	font-size: 13px;
	width: 140px;
	padding: 7px 12px;
	margin: 0;
	line-height: 1;
}


.ddsmoothmenu ul li ul li ul li a {
	font-size: 13px;
}

.ddsmoothmenu ul li ul li:first-child {
	padding-top: 5px;
}

.ddsmoothmenu ul li ul li:last-child {
	padding-bottom: 6px;
}

.ddsmoothmenu ul li ul li ul li:first-child {
	padding-top: 4px;
}

.ddsmoothmenu ul li ul li ul li:last-child {
	padding-bottom: 5px;
}


* html .ddsmoothmenu {
	height: 1%;
}

#cycle-wrapper {
	position: relative;
	width:960px;
	height: 380px;
	margin: 0 auto 90px;
}

#sliderholder-cycle {
	width:960px;
	height: 380px;
	overflow: hidden;
	background:transparent;
	-moz-box-shadow: 0px 1px 3px #8e8e8e;
	-webkit-box-shadow: 0px 1px 3px #8e8e8e;
	box-shadow: 0px 1px 3px #8e8e8e;
}

.slidernav {
	padding: 0;
	margin: 18px 0 0 0;
	list-style: none;
	text-align: center;
}

.slidernav a {
	cursor: pointer;
	background-color: #cbcbcb; 
	overflow: hidden;
	width: 10px;
	height: 10px;
	margin: 0 3px;
	text-indent: -99999px;
	display: inline-block;
}

.slidernav a:hover, .slidernav .activeSlide {
	background-color: #8c8c8c;
}

.sliderprev, .slidernext {
	display:block;
	width:35px;
	height:35px;
	background:url(../images/slider-arrows.jpg) no-repeat;
	text-indent:-9999px;
	border:0;
	cursor: pointer;
	position: absolute;
	-moz-box-shadow: 0px 1px 2px #888;
	-webkit-box-shadow: 0px 1px 2px #888;
	box-shadow: 0px 1px 2px #888;
}

.slidernext {
	background-position: right top;
	right: -60px;
	top: 46%;
}

.slidernext:hover {
	background-position: right bottom;
}

.sliderprev {
	background-position: left top;
	left: -60px;
	top: 46%;
}

.sliderprev:hover {
	background-position: left bottom;
}



#piecemaker-container {
	display:block;
	height:460px;
	overflow:hidden;
	margin: -10px auto 40px;
	width: 960px;
}

.one-half {
	width:48%;
}

.one-third {
	width:30.66%;
}

.two-third {
	width:65.33%;
}

.one-fourth {
	width:22%;
}

.three-fourth {
	width:74%;
}

.one-fifth {
	width:16.8%;
}

.two-fifth {
	width:37.6%;
}

.three-fifth {
	width:58.4%;
}

.four-fifth {
	width:67.2%;
}

.one-sixth {
	width:13.33%;
}

.five-sixth {
	width:82.67%;
}

.one-half, .one-third, .two-third, .three-fourth, .one-fourth, .one-fifth, .two-fifth, .three-fifth, .four-fifth, .one-sixth, .five-sixth {
	position:relative;
	margin-right:4%;
	float:left;
}

.last {
	margin-right:0 !important;
	clear:right;
}

.intro h1 {
	line-height: 28px;
	font-size: 22px;
	text-align: center;
	font-weight: normal;
	font-family: 'Puritan20Italic';
	color: #626262;
}

.intro {
	margin-top: -10px;
	margin-bottom:60px;
}

#about .one-fourth img {
	-moz-box-shadow: 0px 1px 2px #656565;
	-webkit-box-shadow: 0px 1px 2px #656565;
	box-shadow: 0px 1px 2px #656565;
	display: block;
	margin-bottom: 20px;
}

#about .one-fourth p {
	margin-bottom: 15px;
}


.content {
	background-color: #FFF;
	-moz-box-shadow: 0px 1px 2px #9f9f9f;
	-webkit-box-shadow: 0px 1px 2px #9f9f9f;
	box-shadow: 0px 1px 2px #9f9f9f;
	padding: 20px 20px 0 20px;
	display: block;
	overflow: hidden;
	margin-bottom: 20px;
}

#wrapper ul.social {
	margin-top: 10px;
}

#wrapper ul.social li {
	float: left;
	background: none;
	margin-right: 10px;
	padding: 0;
}


#portfolio ul li {
	background: none;
	padding: 0;
}

#wrapper ul.grid {
	width: 985px;
	overflow: hidden;
	margin:0 auto;
	margin-left:-20px;
	padding: 0;
}

ul.grid:after {
	content: "";
	display: block;
	height: 0;
	overflow: hidden;
	clear: both;
}

ul.grid li {
	width: 225px;
	margin: 0;
	margin-left: 20px;
	margin-bottom: 20px;
	float: left;
	overflow: hidden;
	background: none;
	-moz-box-shadow: 0px 1px 2px #8e8e8e;
	-webkit-box-shadow: 0px 1px 2px #8e8e8e;
	box-shadow: 0px 1px 2px #8e8e8e;
}

ul.grid li a {
	outline:0;
}

ul.grid li img {
	display: block;
	width:225px;
	height:150px;
}

ul.gallerynav {
	width:960px;
	margin:0 auto 22px;
	height: 14px;
	background-color: #FFF;
	-moz-box-shadow: 0px 1px 2px #9f9f9f;
	-webkit-box-shadow: 0px 1px 2px #9f9f9f;
	box-shadow: 0px 1px 2px #9f9f9f;
}

ul.gallerynav li {
	float:left;
}

ul.gallerynav li a {
	float:left;
	font-family: 'Puritan20Normal';
	color: #565656;
	margin: 0 15px;
	font-size: 15px;
	line-height: 18px;
	padding: 8px 0;
}

ul.gallerynav li a:hover {
	text-decoration: none;
	color: #5d8ba6;
}

ul.gallerynav li.selected-1 a {
	color: #5d8ba6;
}

.hidden {
	display: none;
}


#portfolio-single .image {
	width: 660px;
	float: left;
	margin-right: 20px;
	overflow: hidden;
	padding: 3px 5px 0 0;
}

#portfolio-single .image img {
	margin-bottom: 15px;
	-moz-box-shadow: 0px 1px 3px #8e8e8e;
	-webkit-box-shadow: 0px 1px 3px #8e8e8e;
	box-shadow: 0px 1px 3px #8e8e8e;
}

#portfolio-single .text {
	width: 235px;
	padding: 20px;
	margin: 2px 0 0 0;
	float: right;
	background-color: #FFF;
	-moz-box-shadow: 0px 1px 2px #9f9f9f;
	-webkit-box-shadow: 0px 1px 2px #9f9f9f;
	box-shadow: 0px 1px 2px #9f9f9f;
	overflow: hidden;
}

#portfolio-single a:hover {
	text-decoration: underline;
}

a.p-project, a.n-project {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-style: italic;
	font-size: 12px;
	color: #565656;
	line-height: 1;
	float: left;
}

a.n-project {
	float: right;
}

#portfolio-single a.p-project:hover, #portfolio-single a.n-project:hover {
	text-decoration: none;
	color: #5d8ba6;
}


ul#tab-menu {
	float:left;
	width: 230px;
	background-color: #FFF;
	-moz-box-shadow: 0px 1px 2px #9f9f9f;
	-webkit-box-shadow: 0px 1px 2px #9f9f9f;
	box-shadow: 0px 1px 2px #9f9f9f;
	margin:0 20px 0 0;
	padding: 0 10px;
	list-style:none;
	font-family: 'Puritan20Normal';
	font-size: 17px;
}

ul#tab-menu li {
	background: transparent url(../images/line.png) bottom repeat-x;
	cursor: pointer;
	padding: 20px 10px;
	margin: 0;
	color: #565656;
}

ul#tab-menu li:hover, ul#tab-menu li.selected {
	color: #5d8ba6;
}

ul#tab-menu li img {
	vertical-align: middle;
	padding-right: 10px;
}

ul#tab-menu li:last-child {
	background: none;
}

.tab-wrapper {
	width:960px;
}

.tab-content {
	background-color: #FFF;
	-moz-box-shadow: 0px 1px 2px #9f9f9f;
	-webkit-box-shadow: 0px 1px 2px #9f9f9f;
	box-shadow: 0px 1px 2px #9f9f9f;
	width: 650px;
	float:left;
	padding: 20px 20px 0 20px;
}

.tab-content div.tab {
	display:none;
	padding: 0;
}

.tab-content div.tab.show {
	display:block;
}

.tab-content div.tab p {
	width:650px;
	overflow: hidden;
	padding: 0;
	margin: 0 0 20px 0;
}

.tab-content div.tab div p {
	width:100%;
}


#post-wrapper {
	width: 640px;
	float: left;
	margin-right: 20px;
}

.post {
	background-color: #FFF;
	-moz-box-shadow: 0px 1px 2px #9f9f9f;
	-webkit-box-shadow: 0px 1px 2px #9f9f9f;
	box-shadow: 0px 1px 2px #9f9f9f;
	width: 600px;
	padding: 20px;
	margin-bottom: 20px;
}

.post a:hover {
	text-decoration: underline;
}

h2.title {
	margin-bottom: 8px;
}

.title a:hover {
	color: #5d8ba6;
	text-decoration: none;
}

.post img, .post .video {
	margin-bottom: 10px;
}

.date {
	display: inline;
	color: #5d8ba6;
}

.top-border {
	background: transparent url(../images/line.png) repeat-x;
	height: 2px;
	padding: 8px 0 0 0;
}

.post .meta {
	background: transparent url(../images/line.png) center bottom repeat-x;
	padding: 10px 0;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 12px;
	font-style: italic;
	margin-bottom: 21px;
}

.post .meta a {
	color: #5d8ba6;
}

.post .meta a:hover {
	text-decoration: underline;
}

.post .tags {
	line-height: 12px;
}

.post .tags a {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 12px;
	font-style: italic;
	line-height: 12px;
	color: #5d8ba6;
}

.post .tags a:hover {
	text-decoration: underline;
}

#wrapper ul.page-navi {
	padding: 2px;
	margin-left: -2px;
	margin-bottom: 20px;
}

#wrapper ul.page-navi li {
	padding: 0;
	float:left;
	margin-right: 10px;
	background: none;
}

#wrapper ul.page-navi li a {
	background-color: #FFF;
	-moz-box-shadow: 0px 1px 2px #9f9f9f;
	-webkit-box-shadow: 0px 1px 2px #9f9f9f;
	box-shadow: 0px 1px 2px #9f9f9f;
	height: 24px;
	width: 24px;
	display: block;
	text-align: center;
	line-height: 24px;
	font-size: 13px;
	font-weight: normal;
	color: #565656;
}

#wrapper ul.page-navi li a:hover, #wrapper ul.page-navi li a.current {
	background-color: #ddd;
	color: #1f1f1f;
}

#sidebar {
	width: 300px;
	float: right;
}

.sidebox {
	background-color: #FFF;
	-moz-box-shadow: 0px 1px 2px #9f9f9f;
	-webkit-box-shadow: 0px 1px 2px #9f9f9f;
	box-shadow: 0px 1px 2px #9f9f9f;
	width: 260px;
	padding: 20px;
	margin-bottom: 20px;
}

#searchform input {
	background: #e8e8e8 url(../images/search.png) no-repeat 230px center;
	width: 240px;
	padding: 5px 10px;
	height: 25px;
	border: 0;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 13px;
	font-style: italic;
	color: #565656;
}

#wrapper .sidebox ul {
	padding: 0;
	margin: 0;
}

#wrapper .sidebox ul li a:hover {
	color: #5d8ba6;
	text-decoration: none;
}

#wrapper .sidebox ul.post-list li {
	background: none;
	background: transparent url(../images/line.png) bottom center repeat-x;
	padding: 10px 0 12px 0;
	margin: 0;
	clear: both;
	overflow: hidden;
	height: 60px;
}

#wrapper .sidebox ul.post-list li:last-child {
	padding: 12px 0 0 0;
	background: none;
}

#wrapper .sidebox ul.post-list.archive {
	padding: 0;
	margin: 0;
}

#wrapper .sidebox ul.post-list.archive li {
	padding: 5px 0 5px 0;
	height: 20px;
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Trebuchet MS", Helvetica, Arial, sans-serif;
	font-size: 13px;
}

#wrapper .sidebox ul.post-list.archive li:last-child {
	padding: 5px 0 0 0;
}

#wrapper .sidebox ul.post-list li h4 {
	width: 180px;
	display: block;
	margin: 0;
	overflow: hidden;
	font-size: 15px;
}

#wrapper .sidebox ul.post-list li span.info {
	width: 180px;
	display: block;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 12px;
	font-style: italic;
	overflow: hidden;
	color: #565656;
}

#wrapper .sidebox ul.post-list li span.info a {
	color: #565656;
}

#wrapper .sidebox ul.post-list li span.info a:hover {
	text-decoration: none;
	color: #5d8ba6;
}

.sidebox ul.post-list li img {
	width: 60px;
	height: 60px;
	float: left;
	margin-right: 15px;
}

ul.tags {
	margin: 0;
	padding: 0;
}

#wrapper ul.tags li {
	margin: 0;
	padding: 0;
	background: none;
	list-style: none;
    float:left;
}

#wrapper ul.tags li a {
	padding: 3px 8px;
	float: left;
	margin: 5px 5px 0 0;
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Trebuchet MS", Helvetica, Arial, sans-serif;
	font-style: normal;
	background-color: #e8e8e8;
	font-size: 11px;
	text-transform: uppercase;
}

#wrapper ul.tags li a:hover {
	text-decoration:none;
}

ul.flickr {
	width:270px;
	margin-right:-10px;
	padding: 0;
	margin: 0;
}

#wrapper ul.flickr li {
	background: none;
	margin: 10px 10px 0 0;
	float:left;
	padding: 0;
	width:80px;
	height:80px;
}

ul.ads {
	width:270px;
	margin-right:-10px;
	padding: 0;
	margin: 0;
}

#wrapper ul.ads li {
	background: none;
	margin: 10px 10px 0 0;
	float:left;
	padding: 0;
	width:125px;
	height:125px;
}

#comment-wrapper {
	margin-top: 40px;
}

#comment-wrapper h3 {
	margin-bottom: 20px;
}


#comments {
	margin-top: 10px;
}

#comments ol.commentlist .message p {
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Trebuchet MS", Helvetica, Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	font-style: normal;
	clear: both;
	padding: 0;
}

#comments ol.commentlist {
	list-style:none;
	margin:0;
}

#comments ol.commentlist li {
	margin: 0;
	margin-bottom: 20px;
	list-style:none;
	background: none;
	padding: 20px;
	background-color: #FFF;
	-moz-box-shadow: 0px 1px 2px #9f9f9f;
	-webkit-box-shadow: 0px 1px 2px #9f9f9f;
	box-shadow: 0px 1px 2px #9f9f9f;
}

#comments .user {
	float:left;
	width:60px;
	text-align: center;
	height: 80px;
}

.avatar {
	width: 60px;
	height: 60px;
	padding: 0;
	padding-bottom: 3px;
	float:left;
	display:block;
}

#comments .message .info .date {
	float:left;
	font-style: italic;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 12px;
	color: #565656;
	margin-left: 5px;
	line-height: 17px;
}

#comments .info a {
	font-size:11px;
	float:left;
	text-decoration: none;
}

#comments a.reply-link {
	width: 60px;
	text-decoration:none;
	font-size:9px;
	text-transform: uppercase;
	font-style: normal;
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Trebuchet MS", Helvetica, Arial, sans-serif;
}

#comments a.reply-link:hover {
	text-decoration: underline;
}

#comments .message {
	background:none;
	width:500px;
	float:right;
	font-size:13px;
	line-height:20px;
	position:relative;
	padding:0 0 0px 20px;
	background: transparent url(../images/line-v.png) left repeat-y;
	margin: 0;
}

#comments .message p {
	margin: 0;
}

#comments .info {
	margin: 0 0 3px 0;
}

#comments .info a:hover {
	color: #5d8ba6;
}

#comments ul.children {
	margin:0;
	padding:0 0 0 40px;
}

#comments ol.commentlist ul.children li {
	padding:20px 0 0 0;
	margin: 18px 0 0 0;
	background: none;
	background: transparent url(../images/line.png) top center repeat-x;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

#comments ol.commentlist ul.children li .message {
	width:460px;
}

#comments ol.commentlist ul.children ul li .message {
	width:420px;
}

#comments ol.commentlist ul.children ul ul li .message {
	width:380px;
}

#comments ol.commentlist ul.children ul ul ul li .message {
	width:340px;
}

#comments ol.commentlist ul.children ul ul ul ul li .message {
	width:300px;
}

#comments ol.commentlist ul.children ul ul ul ul ul li .message {
	width:260px;
}

#comments .info h3 {
	margin: 0;
	padding: 0;
	line-height: 18px;
	display: inline;
}

#comments .info h3 a {
	font-size: 15px;
	font-style: normal;
}

#comment-form {
	background-color: #FFF;
	-moz-box-shadow: 0px 1px 2px #9f9f9f;
	-webkit-box-shadow: 0px 1px 2px #9f9f9f;
	box-shadow: 0px 1px 2px #9f9f9f;
	padding: 20px;
}

.comment-form h3 {
	margin-bottom: 20px;
}

.comment-form input {
	display: block;
	width: 230px;
	height: 22px;
	height: 16px;
	text-align: left;
	border: 0;
	padding: 5px 10px;
	padding: 8px 10px;
	margin-bottom: 20px;
	background-color: #e8e8e8;
	color: #565656;
	font-size: 12px;
}

.comment-input {
	width: 250px;
	float: left;
	margin-right: 20px;
}

.comment-textarea {
	width: 330px;
	float: left;
}

.comment-form textarea {
	display: block;
	width: 310px;
	height: 106px;
	clear: both;
	border: 0;
	padding: 10px 10px 20px 10px;
	background-color: #e8e8e8;
	color: #565656;
	font-size: 12px;
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Trebuchet MS", Helvetica, Arial, sans-serif;
}

.comment-form textarea:hover {
	border:none;
}

.comment-form input#submit-button {
	clear:both;
	float: right;
	margin:0px;
	text-align: center;
	margin: -35px 10px 0 0;
	width: auto;
	position: relative;
	z-index: 9999;
	background: transparent url(../images/submit.png) no-repeat;
	color: #FFF;
	padding: 5px 12px;
	font-size: 14px;
	height: 32px;
	width: 120px;
	cursor: pointer;
}

.comment-form p {
	position: relative;
	margin: 0;
	padding: 0;
}

.comment-form p label {
	position: absolute;
	top: 0;
	left: 0;
	padding: 6px 10px;
	font-size: 12px;
	color: #494c4f;
}

.comment-form p br {
	display: none;
}


    input[type="submit"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner {
 border : 0px;
}

    input[type="submit"]:focus, input[type="button"]:focus {
	outline : none;
}

.jcarousel-container {
	float:left;
	display: block;
	position: relative;
	margin:0;
	padding:0;
}

.jcarousel-container-vertical {
	width:  962px;
	height: 535px;
}

.jcarousel-clip-vertical {
	height: 535px;
}

.jcarousel-item {
	height: 60px;
	overflow: hidden;
	position: relative;
	display: block;
	z-index: 1;
}

#newslist ul li {
	width:  928px;
	background: none;
	margin: 2px 0 18px 2px;
	background-color: #FFF;
	-moz-box-shadow: 0px 1px 2px #9f9f9f;
	-webkit-box-shadow: 0px 1px 2px #9f9f9f;
	box-shadow: 0px 1px 2px #9f9f9f;
	padding: 15px;
	display: block;
	overflow: hidden;
}

#newslist p {
	margin: 0;
}

#newslist h4 {
	margin-bottom: 3px;
	line-height: 1;
}

#newslist h4 span {
	font-style: italic;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 12px;
	color: #565656;
	padding-left: 5px;
}

#news h2 {
	float: left;
	margin-top: 10px;
}

#scroll {
	overflow: hidden;
	width: 80px;
	height: 30px;
	margin: 20px auto;
	padding: 2px;
}

#newslist-next {
	cursor: pointer;
	top:0px;
}

#newslist-prev {
	cursor: pointer;
	outline: 0;
}

a.jbutton, a.jbutton:link, a.jbutton:visited {
	display: block;
	padding: 0;
	height: 30px;
	width: 30px;
	background: transparent url(../images/gallery-arrows.jpg) no-repeat;
	-moz-box-shadow: 0px 1px 2px #888;
	-webkit-box-shadow: 0px 1px 2px #888;
	box-shadow: 0px 1px 2px #888;
	text-indent: -99999px;
}

a#newslist-prev.jbutton, a#prev.jbutton {
	background-position: top left;
	float: left;
	height: 30px;
	width: 30px;
}

a#newslist-next.jbutton, a#next.jbutton {
	background-position: top right;
	float: right;
	height: 30px;
	width: 30px;
}

a#newslist-prev.jbutton:hover {
	background-position: left -30px;
	text-decoration: none;
}

a#newslist-next.jbutton:hover {
	background-position: right -30px;
	text-decoration: none;
}

#wrapper ul.info li {
	background: none;
	padding: 0 0 0 35px;
	margin-bottom: 15px;
}

#wrapper ul.info li img {
	vertical-align: top;
}

#wrapper ul.info li.home {
	background: transparent url(../images/icon-home.png) no-repeat 0 2px;
}

#wrapper ul.info li.phone {
	background: transparent url(../images/icon-phone.png) no-repeat 0 2px;
}

#wrapper ul.info li.email {
	background: transparent url(../images/icon-email.png) no-repeat 0 4px;
}

#twitter-wrapper {
	float: none;
	clear: both;
	margin: 0 0 60px 0;
	position: relative;
}

#twitter {
	font-style: italic;
	font-size:12px;
	padding: 10px 0;
	background: #e8e8e8 url(../images/twitter.png) no-repeat 20px center;
	min-height: 28px;
}

#twitter ul {
	padding: 0;
	margin: 0;
}

#twitter ul li {
	background: none;
	padding: 5px 10px 5px 80px;
	line-height: 16px;
}

#twitter ul li a {
	color: #5d8ba6;
	text-decoration: none;
}

#twitter ul li a:hover {
	text-decoration: underline;
}

.username {
	background: transparent url(../images/twitter-arrow.png) no-repeat center top;
	position: absolute;
	padding: 15px 0 0 0;
	right: 0;
	bottom:-35px;
	font-size: 12px;
}

.username a {
	color: #5d8ba6;
}



#wrapper .contact-social ul {
	margin: 20px 0 0 0;
}

#wrapper .contact-social ul li {
	background: none;
	float: left;
	padding: 0;
	margin: 0 10px 0 0;
}


.toggle {
	width: 100%;
	margin-bottom: 20px;
}

.toggle-wrapper {
	padding-bottom:5px;
}

h2.trigger {
	width:100%;
	clear:both;
	font-size: 20px;
	margin:0px;
	display: block;
	color: #1f1f1f;
	cursor: pointer;
}

h2.trigger:hover,h2.trigger.active:hover {
	color: #5d8ba6;
}

h2.trigger.active {
	color: #1f1f1f;
}

.togglebox {
	width:920px;
	height: auto;
	background: #e8e8e8;
	overflow: hidden;
	margin: 10px 0;
}

.togglebox div {
	padding: 20px;
}

.togglebox p {
	line-height: 22px;
}

.togglebox p {
	line-height: 22px;
}

.tabbed-content {
	width: 100%;
	overflow: hidden;
	padding-bottom: 20px;
}

#wrapper ul.tabs {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	width: 100%;
}

#wrapper ul.tabs li {
	float: left;
	margin: 0 7px 0 0;
	padding: 0px;
	background: none;
	overflow: hidden;
	position: relative;
	font-family: 'Puritan20Normal';
}

#wrapper ul.tabs li a {
	text-decoration: none;
	display: block;
	font-size: 15px;
	line-height: 35px;
	padding: 0 15px 3px 15px;
	height: 35px;
	background-color: #cecece;
	color: #565656;
}

#wrapper ul.tabs li a:hover {
	color: #5d8ba6;
}

#wrapper ul.tabs li.active a {
	background-color: #e8e8e8;
	position: relative;
	z-index: 999;
	color: #1f1f1f;
}

#wrapper ul.tabs li.active a, #wrapper ul.tabs li.active a:hover {
	position: relative;
	border-bottom: black;
}

.tab_container {
	clear: both;
	float: left;
	width: 100%;
	margin-top: -3px;
	background-color: #e8e8e8;
	z-index: 999;
	position: relative;
}

.tab_content {
	padding: 20px 20px 0 20px;
}

#wrapper .d-carousel ul li {
	background: none;
	background-color: #FFF;
	-moz-box-shadow: 0px 1px 2px #9f9f9f;
	-webkit-box-shadow: 0px 1px 2px #9f9f9f;
	box-shadow: 0px 1px 2px #9f9f9f;
	padding: 15px;
	width: 175px;
}

.jcarousel-direction-rtl {
	direction: rtl;
}

.d-carousel h4 {
	margin: 5px 0 5px 0;
}

.d-carousel .jcarousel-container {
	display: block;
	overflow: hidden;
	margin-bottom: 20px;
}

.d-carousel .jcarousel-item {
	width: 190px;
	height: 290px;
}

.d-carousel .jcarousel-container-horizontal {
	width: 870px;
	height: 325px;
	padding: 0 45px;
}

.d-carousel.sgrid .jcarousel-container {
	display: block;
	overflow: hidden;
	margin-bottom: 20px;
	height: 156px;
}

.d-carousel.sgrid .jcarousel-clip-horizontal {
	width:  870px;
	height: 156px;
}

.d-carousel.sgrid .jcarousel-item {
	width: 190px;
	height: 120px;
}

.d-carousel .jcarousel-item-horizontal {
	margin-left: 3px;
	margin-bottom: 3px;
	margin-top: 3px;
	margin-right: 11px;
}

.d-carousel .jcarousel-next-horizontal {
	position: absolute;
	top: 149px;
	right: 0;
	margin-right: 3px;
	width: 25px;
	height: 25px;
	cursor: pointer;
	background: transparent url(../images/blog-arrows.jpg) no-repeat top right;
	-moz-box-shadow: 0px 1px 2px #888;
	-webkit-box-shadow: 0px 1px 2px #888;
	box-shadow: 0px 1px 2px #888;
}

.d-carousel.sgrid .jcarousel-next-horizontal {
	position: absolute;
	top: 60px;
	right: 0;
	margin-right: 3px;
	width: 25px;
	height: 25px;
	cursor: pointer;
	background: transparent url(../images/blog-arrows.jpg) no-repeat top right;
	-moz-box-shadow: 0px 1px 2px #888;
	-webkit-box-shadow: 0px 1px 2px #888;
	box-shadow: 0px 1px 2px #888;
}

.d-carousel .jcarousel-direction-rtl .jcarousel-next-horizontal {
	left: 5px;
	right: auto;
	background-image: url(../images/blog-arrows.jpg);
}

.d-carousel .jcarousel-next-horizontal:hover {
	background-position: bottom right;
}

.d-carousel .jcarousel-prev-horizontal {
	position: absolute;
	top: 149px;
	left: 0;
	margin-left: 3px;
	width: 25px;
	height: 25px;
	cursor: pointer;
	background: transparent url(../images/blog-arrows.jpg) no-repeat top left;
	-moz-box-shadow: 0px 1px 2px #888;
	-webkit-box-shadow: 0px 1px 2px #888;
	box-shadow: 0px 1px 2px #888;
}

.d-carousel.sgrid .jcarousel-prev-horizontal {
	position: absolute;
	top: 60px;
	left: 0;
	margin-left: 3px;
	width: 25px;
	height: 25px;
	cursor: pointer;
	background: gray url(../images/blog-arrows.jpg) no-repeat top left;
	-moz-box-shadow: 0px 1px 2px #888;
	-webkit-box-shadow: 0px 1px 2px #888;
	box-shadow: 0px 1px 2px #888;
}

.d-carousel .jcarousel-direction-rtl .jcarousel-prev-horizontal {
	left: auto;
	right: 5px;
	background-image: url(../images/blog-arrows.jpg);
}

.d-carousel .jcarousel-prev-horizontal:hover {
	background-position: bottom left;
}
