<div class="content">

<h1>Contact Information</h1>
<p align="justify">
<div class"content" style="float:left;">
	<p>FALCON ACCESSORIES<br>220/1, Fakirerpool,1st lane (1st floor)<br>Motijheel, Dhaka,Bangladesh<br>www.falcon-bd.com</p>
	<p>Md. Golam Faruqe Sudip<br>Proprietor<br>Cell: +88-01970012345<br>+88-01819283774 <br>E-mail: gfaruqe@gmail.com</p>
	<p>For sample please contact<br>Syed Jamal Hossain<br>Manager<br>Cell: +88-01818425484<br>+88-01717561665<br>E-mail: jamal@falcon-bd.com
</p>
</div>

</div>