<div class="content">

<h1>Contact Information</h1>
<p align="justify">
<div class"content" style="float:left;">
<p>Md. Golam Faruqe Sudip<br>Proprietor<br>Cell: +88-01970012345<br>+88-01819283774 </p>
</div>

</div>