<div class="content">

<h1>OUR PRODUCTS</h1>

<table>
<th>01. Paper Products:</th>
<th>02. Label Products:</th>
<th>03. Button Products:</th>
<th>04. Other Products:</th>
<tr>
<td>(a) Photo Card</td>
<td>(a) Woven Main Label</td>
<td>(a) Chalk</td>
<td>(a) Plastic</td>
</tr>
<tr>
<td>(b) Price Tag</td>
<td>(b) Woven Size Label</td>
<td>(b) Clear</td>
<td>(b) Plastic Clip</td>
</tr>
<tr>
<td>(c) Hang Tag</td>
<td>(c) Printedd Care Label</td>
<td>(c) Logo</td>
<td>(c) Plastic Patch</td>
</tr>

<tr>
<td>(d) Size Sticker</td>
<td></td>
<td>(d) Pearl</td>
<td>(d) Elastic (All Kinds)</td>
</tr>

<tr>
<td>(e) Barcode Sticker</td>
<td></td>
<td>(e) Plastic</td>
<td>(e) Stopper (All Kinds)</td>
</tr>

<tr>
<td>(f) Photo Sticker</td>
<td></td>
<td></td>
<td>(f) Collar Insert</td>
</tr>
<tr>
<td></td>
<td></td>
<td></td>
<td>(g) Twill Tape</td>
</tr>

</table>

</div>